@switch (CurrentUser?.RoleId)
{
    case 1:
        <div class="collapse" id="navbarToggleExternalContent">
            <ul class="nav nav-pills nav-fill bg-secondary bg-opacity-50">
                <li class="nav-item">
                    <a class="nav-link text-white" @onclick="@ChangeOnWorkWithVDEWStateRoleNavBar">РАБОТА С ЗАМЕСТИТЕЛЕМ ДИРКЕТОРА ВР</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" @onclick="@ChangeOnStatsCollectStateRoleNavBar">СБОР СТАТИСТИКИ</a>
                </li>
            </ul>
        </div>
        break;
    case 2:
        <div class="collapse" id="navbarToggleExternalContent">
            <ul class="nav nav-pills nav-fill bg-secondary bg-opacity-50">
                <li class="nav-item">
                    <a class="nav-link text-white" @onclick="@ChangeOnWorkWithGroupVDEWStateRoleNavBar">РАБОТА С ГРУППОЙ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" @onclick="@ChangeOnWorkWithCuratorVDEWStateRoleNavBar">РАБОТА С КУРАТОРОМ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" @onclick="@ChangeOnStatsCollectStateRoleNavBar">СБОР СТАТИСТИКИ</a>
                </li>
            </ul>
        </div>
        break;
    case 3:
        <div class="collapse" id="navbarToggleExternalContent">
            <ul class="nav nav-pills nav-fill bg-secondary bg-opacity-50">
                <li class="nav-item">
                    <a class="nav-link text-white" @onclick="@ChangeOnStatsCollectionPageStateRoleNavBar">РАБОТА С ГРУППОЙ</a>
                </li>
            </ul>
        </div>
        break;
    default:
        break;
}

@code {
    
}
