<Modal Title="@("Добавление")"
       Visible="@Visible"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel">
    <div class="container-fluid">
        <Form Model="@_event"
              OnFinish="OnFinish"
              OnFinishFailed="OnFinishFailed">
            <Row Gutter="24">
                <GridCol Span="11">
                    @if (context.EventPhoto == null)
                    {
                        <img class="img-thumbnail" height="400px" width="400px" src="../img/no-img.jpg" alt="">
                    }
                    <FormItem>
                        <Button type="image" class="btn btn-outline-secondary mt-3">Обзор</Button>
                    </FormItem>
                </GridCol>
                <GridCol Span="13">
                    <FormItem Label="Название" Style="margin-bottom: 0.3em">
                        <Input @bind-Value="@context.Name" />
                    </FormItem>
                    <FormItem Label="Дата проведения" Style="margin-bottom: 0.3em">
                        <Input @bind-Value="@context.DateEvent" />
                    </FormItem>
                    <FormItem Label="Комментарий" Style="margin-bottom: 0.3em">
                        <Input @bind-Value="@context.Comment" />
                    </FormItem>
                    <FormItem Label="Участников" Style="margin-bottom: 0.3em">
                        @if (context.Users != null)
                        {
                            <Input @bind-Value="@context.Name" />
                        }
                    </FormItem>
                </GridCol>
            </Row>
        </Form>
    </div>
</Modal>


