<Modal Title="@("Изменение")"
       Visible="@Visible"
       OnOk="HandleOkAsync"
       OnCancel="@HandleCancel">
    <div class="container-fluid">
        <Form Model="@Student"
              OnFinish="OnFinish"
              OnFinishFailed="OnFinishFailed">
            <Row Gutter="16">
                <GridCol Span="11">
                    @if(context.ProfilePhoto == null)
                    {
                        <img class="img-thumbnail" height="400px" width="400px" src="../img/no-img.jpg" alt="">
                    }
                    <FormItem>
                        <Button type="image" class="btn btn-outline-secondary mt-3">Обзор</Button>
                    </FormItem>
                </GridCol>
                <GridCol Span="13">
                    <FormItem Label="ФИО">
                        <Input @bind-Value="@context.Name">
                    </FormItem>
                    <FormItem Label="Дата рождения">
                        <Input @bind-Value="@context.BirthDate">
                    </FormItem>
                    <FormItem Label="Подразделение">
                        <Select Mode="default"
                                DataSource="@_divisions"
                                TItem="Division"
                                TItemValue="string"
                                @bind-Value="@SelectedDivisionValue"
                                LabelName="@nameof(Division.Name)"
                                ValueName="@nameof(Division.Name)"
                                IgnoreItemChanges="false"
                                OnSelectedItemChanged="OnSelectedDivisionItemChangedHandler">
                        </Select>
                    </FormItem>
                    <FormItem Label="Группа">
                        <Select Mode="default"
                                DataSource="@_groups"
                                TItem="Group"
                                TItemValue="string"
                                @bind-Value="@SelectedGroupValue"
                                LabelName="@nameof(Group.Name)"
                                ValueName="@nameof(Group.Name)"
                                IgnoreItemChanges="false"
                                OnSelectedItemChanged="OnSelectedGroupItemChangedHandler">
                        </Select>
                    </FormItem>
                    <FormItem Label="Телефон">
                        <Input @bind-Value="@context.Phone">
                    </FormItem>
                    <FormItem Label="Адрес">
                        <Input @bind-Value="@context.Address">
                    </FormItem>
                    <FormItem Label="Email">
                        <Input @bind-Value="@context.Email">
                    </FormItem>
                </GridCol>
            </Row>
            <Row Gutter="16">
                <GridCol Span="12">
                    <FormItem Label="Мать">
                        <Select Mode="default"
                                DataSource="@_parents"
                                TItem="Parent"
                                TItemValue="string"
                                @bind-Value="@SelectedMotherValue"
                                LabelName="@nameof(Parent.Name)"
                                ValueName="@nameof(Parent.Name)"
                                IgnoreItemChanges="false"
                                OnSelectedItemChanged="OnSelectedMotherItemChangedHandler">
                        </Select>
                    </FormItem>
                </GridCol>
                <GridCol Span="12">
                    <FormItem Label="Отец">
                        <Select Mode="default"
                                DataSource="@_parents"
                                TItem="Parent"
                                TItemValue="string"
                                @bind-Value="@SelectedFatherValue"
                                LabelName="@nameof(Parent.Name)"
                                ValueName="@nameof(Parent.Name)"
                                IgnoreItemChanges="false"
                                OnSelectedItemChanged="OnSelectedFatherItemChangedHandler">
                        </Select>
                    </FormItem>
                </GridCol>
            </Row>
        </Form>
    </div>
</Modal>




@code {

}
