<Modal Title="@("Просмотр")"
       Visible="@Visible"
       OnCancel="@HandleCancel"
       OkButtonProps="new AntDesign.ButtonProps(){ Disabled = true, Ghost = true}">
    <div class="container-fluid">
        <Form Model="@Event"
              OnFinish="OnFinish"
              OnFinishFailed="OnFinishFailed">
            <Row Gutter="24">
                <GridCol Span="11">
                    @if(context.EventPhoto == null)
                    {
                        <img class="img-thumbnail" height="400px" width="400px" src="../img/no-img.jpg" alt="">
                    }
                    <FormItem>
                        <Button type="image" class="btn btn-outline-secondary mt-3">Обзор</Button>
                    </FormItem>
                </GridCol>
                <GridCol Span="13">
                    <FormItem Label="Название" Style="margin-bottom: 0.3em">
                        <Text>@context.Name</Text>
                    </FormItem>
                    <FormItem Label="Дата проведения" Style="margin-bottom: 0.3em">
                        <Text>@context.DateEvent</Text>
                    </FormItem>
                    <FormItem Label="Комментарий" Style="margin-bottom: 0.3em">
                        <Text>@context.Comment</Text>
                    </FormItem>
                    <FormItem Label="Кол-во участников" Style="margin-bottom: 0.3em">
                        @if (context.Users != null)
                        {
                            <Text>@context.Users.Count</Text>
                        }
                    </FormItem>
                </GridCol>
            </Row>
        </Form>
    </div>
</Modal>


