@using API.Models.Entities.Domains
<Modal Title="@("Просмотр")"
       Visible="@Visible"
       OnCancel="@HandleCancel"
       OkButtonProps="new AntDesign.ButtonProps(){ Disabled = true, Ghost = true}">
    <div class="container-fluid">
        <Form Model="@Student"
              OnFinish="OnFinish"
              OnFinishFailed="OnFinishFailed">
            <Row Gutter="24">
                <GridCol Span="11">
                    @if(context.ProfilePhoto == null)
                    {
                        <img class="img-thumbnail" height="400px" width="400px" src="../img/no-img.jpg" alt="">
                    }
                    <FormItem>
                        <Button type="image" class="btn btn-outline-secondary mt-3">Обзор</Button>
                    </FormItem>
                </GridCol>
                <GridCol Span="13">
                    <FormItem Label="ФИО" Style="margin-bottom: 0.3em">
                        <Text>@context.Name</Text>
                    </FormItem>
                    <FormItem Label="Дата рождения" Style="margin-bottom: 0.3em">
                        <Text>@context.BirthDate</Text>
                    </FormItem>
                    <FormItem Label="Подразделение" Style="margin-bottom: 0.3em">
                        <Text>@context.Division.Name</Text>
                    </FormItem>
                    <FormItem Label="Группа" Style="margin-bottom: 0.3em">
                        <Text>@context.Group.Name</Text>
                    </FormItem>
                    <FormItem Label="Телефон" Style="margin-bottom: 0.3em">
                        <Text>@context.Phone</Text>
                    </FormItem>
                    <FormItem Label="Адрес" Style="margin-bottom: 0.3em">
                        <Text>@context.Address</Text>
                    </FormItem>
                    <FormItem Label="Email" Style="margin-bottom: 0.3em">
                        <Text>@context.Email</Text>
                    </FormItem>
                </GridCol>
            </Row>
            <Row Gutter="16">
                <GridCol Span="12">
                    @if (context.Mother != null)
                    {
                        <FormItem Label="Мать" Style="margin-bottom: 0.3em">
                            <Text>@context.Mother.Name</Text>
                        </FormItem>
                        <FormItem Label="Телефон" Style="margin-bottom: 0.3em">
                            <Text>@context.Mother.Phone</Text>
                        </FormItem>
                        <FormItem Label="Место работы" Style="margin-bottom: 0.3em">
                            <Text>@context.Mother.WorkName</Text>
                        </FormItem>
                    }
                </GridCol>
                <GridCol Span="12">
                    @if (context.Father != null)
                    {
                        <FormItem Label="Отец" Style="margin-bottom: 0.3em">
                            <Text>@context.Father.Name</Text>
                        </FormItem>
                        <FormItem Label="Телефон" Style="margin-bottom: 0.3em">
                            <Text>@context.Father.Phone</Text>
                        </FormItem>
                        <FormItem Label="Место работы" Style="margin-bottom: 0.3em">
                            <Text>@context.Father.WorkName</Text>
                        </FormItem>
                    }
                </GridCol>
            </Row>
        </Form>
    </div>
</Modal>


